@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*
@font-face {
    font-family: 'FontName', Helvetica, Arial, sans-serif;
    font-family: FontName;
    }
    src: url('path/filename.eot');
    src: url('path/filename.eot?#iefix') format('embedded-opentype'),
    url('path/filename.woff2') format('woff2'),
    url('path/filename.woff') format('woff'),
    url('path/filename.ttf') format('truetype');
    }
    */